{% extends 'portal/base.html' %}
{% load static %}
{% block title %}О нас {% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'portal/css/about_us.css' %}">
{% endblock %}
{% block content %}
    <!-- Main -->

    <div class="mainContainer">
        <div class="titleContainer">О компании</div>
        <div class="textContainer">
            <p>
                «Азбука мебели» — это сеть мебельных супермаркетов, предлагающая огромный выбор мебели для вашего дома
                по демократичным ценам. <br><br>
                Мы рады предложить вам современную мягкую и корпусную мебель на любой вкус. Все: от шкафа и стола
                до гостиной и кухни! Мы работаем с лучшими российскими и зарубежными поставщиками. В магазинах «Азбука
                мебели» вы можете не только купить готовую модель, но и заказать мягкую мебель, выбрав любую
                понравившуюся ткань для обивки из каталогов. <br><br>
                С момента своего основания, «Азбука мебели» завоевывает лидерские позиции на мебельном рынке Дальнего
                Востока России. На данный момент под брендом «Азбука мебели» успешно функционируют 39 магазинов
                на Дальнем Востоке! Мы представлены во всех форматах, от небольших магазинов, до настоящих мебельных
                супермаркетов, площадью в несколько тысяч квадратных метров! <br><br>
                В магазинах «Азбука мебели» вас всегда радушно встретят внимательные и профессиональные продавцы. Они
                с радостью расскажут об особенностях каждой модели, помогут выбрать мебель и сопутствующие товары,
                отвечающие всем вашим потребностям. <br><br>
                Всем покупателям предоставляется качественный сервис по доставке, сборке и дополнительной комплектации
                фурнитурой. Опытные сборщики мебели выполнят работу любой сложности: установят и смонтируют кухонные
                гарнитуры, стенки, горки, шкафы и кровати.
            </p>
        </div>
    </div>







<!-- footer -->
   <div class="footer">
    <div class="footerContainer">
      <!-- 1 -->
      <div class="footerBlock" style="display: block;">
        <div class="footerLogo"> <img src="../static/portal/img/logo.png" width="100%" height="100%" alt=""></div>
        <div class="block_footer"><a class="a_footer" href="" style="color: white;">Контакты</a></div>
        <div class="block_footer"><a class="a_footer" href="" style="color: white;">О нас</a></div>
        <div class="block_footer"><a class="a_footer" href="" style="color: white;">Политика конфиденциальности</a></div>
        <div class="block_footer"></div>

      </div>
      <!-- 2 -->
      <div class="footerBlock"
        style="display: flex; color: white; align-items: center; text-align: center; justify-content: center;">
        <p style="font-size: 23px;">Азбука Мебели — российская компания, специализирующаяся на производстве и продаже
          современной мебели для дома и офиса. Компания предлагает широкий ассортимент продукции, сочетающей качество,
          стиль и доступные цены.</p>
      </div>
      <!-- 3 -->
      <div class="footerBlock" style="display: flex; align-items:last baseline;">
        <div class="copirait">(© Азбука мебели, 2026)</div>
      </div>
    </div>
  </div>
{% endblock %}