{% extends 'portal/base.html' %}
{% load static %}
{% block title %}О нас {% endblock %}
{% block styles %}
<link rel="stylesheet" href="../static/portal/css/about_us.css">
{% endblock %}
{% block content %}
    <!-- Main -->
<div class="allContainer">
<div class="ContainerAboutImg">
    <div class="AboutImg1"><img src="../static/portal/img/about_us_img1.jpg" alt="" width="100%" height="100%"></div>
    <div class="AboutImg2"><img src="../static/portal/img/about_us_img2.jpg" alt="" width="100%" height="100%"></div>
</div>
    <div class="mainContainer">
        <div class="titleContainer">О магазине г. Лесозаводск</div>
        <div class="textContainer">
            <p>
                Наш магазин в г. Лесозаводск предлагает огромный выбор мебели для вашего дома по доступным ценам. <br><br>
                Мы рады предложить современную мягкую и корпусную мебель на любой вкус.
                Все: от шкафа и стола до готовых решений для гостиной и кухни! <br><br>
               Компания сотрудничает с ведущими российскими и зарубежными поставщиками. В нашем торговом зале в
                Лесозаводске можно не только приобрести готовую модель, но и оформить индивидуальный
                заказ на мягкую мебель, выбрав любую понравившуюся ткань для обивки из каталогов. <br><br>
               Всем покупателям предоставляется качественный сервис по консультации, доставке, сборке и
                дополнительной комплектации фурнитурой. Опытные мастера выполнят работу любой сложности непосредственно
                у вас дома: аккуратно установят и смонтируют кухонные гарнитуры, стенки, горки, шкафы и кровати.
            </p>
        </div>
    </div>
</div>






<!-- footer -->
   <div class="footer">
    <div class="footerContainer">
      <!-- 1 -->
      <div class="footerBlock" style="display: block;">
        <div class="footerLogo"> <img src="../static/portal/img/logo.png" width="100%" height="100%" alt=""></div>
        <div class="block_footer"><a class="a_footer" href="" style="color: white;">Контакты</a></div>
        <div class="block_footer"><a class="a_footer" href="" style="color: white;">О нас</a></div>
        <div class="block_footer"><a class="a_footer" href="" style="color: white;">Политика конфиденциальности</a></div>
        <div class="block_footer"></div>

      </div>
      <!-- 2 -->
      <div class="footerBlock"
        style="display: flex; color: white; align-items: center; text-align: center; justify-content: center;">
        <p style="font-size: 23px;">Азбука Мебели — российская компания, специализирующаяся на производстве и продаже
          современной мебели для дома и офиса. Компания предлагает широкий ассортимент продукции, сочетающей качество,
          стиль и доступные цены.</p>
      </div>
      <!-- 3 -->
      <div class="footerBlock" style="display: flex; align-items:last baseline;">
        <div class="copirait">(© Азбука мебели, 2026)</div>
      </div>
    </div>
  </div>
{% endblock %}